<h1>Welcome to the Pokenalysis App!</h1>

<% if current_user %>
  <%= link_to "The Battle Page", battle_path %><br>
  <%= link_to "Pokemon Database", database_path %><br>
<% else %>
  <%= link_to "Log in", login_path %><br>
  <%= link_to "Register Account", new_user_path %><br>
<% end %>
